<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Employee</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/add-empl-form-styles.css}" />
</head>
<body>
<div class="container">
  <div id="slides" class="slideshow-container">
    <form th:object="${formData}" th:action="@{/employees/save}" method="post">
        <!-- Slide 1: Employee Form -->
        <div class="mySlides">
          <h2>Employee Form</h2>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" th:field="*{employee.firstName}" required><br>
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" th:field="*{employee.lastName}" required><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" th:field="*{employee.email}" required><br>
          <label for="ssn">SSN:</label>
          <input type="text" id="ssn" name="ssn" th:field="*{employee.ssn}" required><br>
          <button type="button" class="btn btn-primary" onclick="plusSlides(1)">Continue</button>
        </div>

        <!-- Slide 2: Address Form -->
        <div class="mySlides">

          <h2>Address Form</h2>
          <label for="street">Street:</label>
          <input type="text" id="street" name="street" th:field="*{address.street}" required><br>
          <label for="city">City:</label>
          <input type="text" id="city" name="city" th:field="*{address.city}" required><br>
          <label for="state">State:</label>
          <input type="text" id="state" name="state" th:field="*{address.state}" required><br>
          <label for="zipCode">Zip Code:</label>
          <input type="text" id="zipCode" name="zipCode" th:field="*{address.zipCode}" required><br>

          <button type="button" class="btn btn-primary" onclick="plusSlides(1)">Continue</button>
        </div>

        <!-- Slide 3: UserCredentials Form -->
        <div class="mySlides">
          <h2>User Credentials Form</h2>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" th:field="*{userCredentials.username}" required><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" th:field="*{userCredentials.password}" required><br>
          <label>Roles:</label><br>
          <!-- Iterate over roles -->
          <th:block th:each="role : ${T(com.dultek.ums.model.Role).values()}">
            <input type="checkbox" th:id="'role_' + ${role}" th:name="'roles'" th:value="${role}" />
            <label th:for="'role_' + ${role}" th:text="${role}"></label><br>
          </th:block>
          <button type="button" class="btn btn-primary" onclick="plusSlides(1)">Continue</button>
        </div>

        <!-- Slide 4: Summary -->
        <div class="mySlides">
          <h2>Summary</h2>
          <h3>Employee Details</h3>
          <p th:text="${employee.firstName + ' ' + employee.lastName}"></p>
          <p th:text="${employee.email}"></p>
          <p th:text="${employee.ssn}"></p>

          <h3>Address</h3>
          <p th:text="${address.street}"></p>
          <p th:text="${address.city + ', ' + address.state + ' ' + address.zipCode}"></p>

          <h3>User Credentials</h3>
          <p>Username: <span th:text="${userCredentials.username}"></span></p>
          <!-- You may not want to display the password in the summary -->

          <h3>Roles</h3>
          <ul>
            <th:block th:each="role : ${roles}">
              <li th:text="${role}"></li>
            </th:block>
          </ul>
          <button type="button" class="btn btn-secondary" onclick="editSummary()">Edit Summary</button>
        </div>
      <!-- Submit button -->
      <button id="submitButton" type="submit" class="btn btn-success">Submit</button>
    </form>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
    </div>
  </div>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/add-empl-form-scripts.js}"></script>
</body>
</html>
