<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>
<body>

<div id="schedule" class="tabcontent" style="margin-left: 0px; margin-top: 43px;">
    <div th:if="${newPassword == null}">
        <form action="login" class="sign-in-form" method="post">
            <input type="hidden" name="command" value="RESETPASS" />
            <h2 class="title">Password reset</h2>

            <div class="input-field">
                <i class="fas fa-user"></i> <input type="text" name="employeeid" th:value="${em_id}" />
            </div>
            <div class="input-field">
                <i class="fas fa-user"></i> <input type="text" name="username" th:value="${uname}" />
            </div>

            <div class="input-field">
                <i class="fas fa-lock"></i> <input type="password" name="password" placeholder="new password" />
            </div>
            <input type="submit" class="btn" value="Reset password" />
        </form>
    </div>
    <div th:if="${newPassword != null}">
        Your password has been reset, Please logout to use your new password.<br>
        Thanks...<br>
        <a href="logout" class="w3-bar-item w3-button">Logout</a>
    </div>
</div>

</body>
</html>
